<head>
  <style>
  * {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  }

  .main-info {
    align-items: center;
    margin: 10px;
  }

  .btn .btn-new {
    padding: 5px;
    background-color: #32324f;
    font-size: 15px;
    border: none;
    width: 100px;
    border-radius: 5px;
  }

  .btn {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  table {
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #c9c9c9;
  text-align: left;
  color: #000;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  </style>
</head>

<body>
  <div class="main-info">
    <h1 style="margin-bottom: 10px; color: #32324f;">Tipos</h1>
      <table>
        <tr>
          <th>Tipo</th>
          <th>Opções</th>
        </tr>

      <% @types.each do |type| %> 
        <tr>
          <td><%= type.name %></td>
          <td><a style="color: #000" href=<%= edit_type_path(type) %>> Editar</a></td>
        </tr>
      <% end %>
      </table>
          <div class="btn">
            <button class='btn-new'><%= link_to 'Novo Tipo', new_type_path %> </button>
          </div>
        </div>
    </div>
  </div>
</body>
