<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bagdex</title>
    <style>
    * {
  margin: 0;
  padding: 0;
}

body {
    background: url(https://bagdex.com.br/wp-content/uploads/2022/09/fundo_site_01.png) no-repeat center center;
    background-size: cover;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #369e35;
  height: 8vh;
}

main {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}

.content {
  flex-direction: column;
  padding: 20px;
  display: flex;
  align-items: center;
}

.content h1 {
  color: #32324f;
  margin: 10px;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.content p {
  text-align: center;
  font-size: 20px;
  color: #32324f;
  width: 63vw;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.imagem {
  align-items: center;
  justify-content: center;
  display: flex;
}


@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
}

.logoArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logoArea img {
    object-fit: contain;
    height: 60px;
    width: 70px;
}

.logoArea a {
  margin-left: 15px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.nav-list.active {
  transform: translateX(0);
}

.nav-list li a [type=submit] {
    background: #369e35;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
    </style>
  </head>

  <body>
    <header>
      <nav>
      <div class="logoArea">
        <img src="https://bagdex.com.br/wp-content/uploads/2022/09/logo_bagdex_01.png">
        <a href="/">Bagdex</a>
      </div>
        <ul class="nav-list">
          <li><a href="/">Início</a></li>
          <li><a href="/bagmons">Bagmons</a></li>
          <li><a href="/types">Tipos</a></li>
          <li><a href="#">Batalhar</a></li>
          <li><a class="input"><%= button_to "Sair", destroy_user_session_path, method: :delete  %></a></li>
        </ul>
      </nav>
    </header>
    <main>
    <div class='content'>
      <h1>A jornada está prestes a começar!</h1>
      <p>A Bágdex é um projeto autoral que se iniciou em 2021, com o objetivo de enaltecer a cultura e a diversidade do nosso país através de personagens e histórias. Um universo que está sendo criado e expandido cada vez mais para mostrar tudo o que temos de incrível no Brasil. Seja criança, jovem ou adulto, a Bágdex foi pensada e criada para gerar conexão com o povo brasileiro de uma forma lúdica e diferente. Esse aplicativo é o primeiro passo de uma grande jornada. Venha conhecer cada um dos Bágmon e se aventurar conosco!</p>
    </div>
    <div class='imagem'>
      <img width="400" height="400" src="https://bagdex.com.br/wp-content/uploads/2022/09/artes_site_01-2-1024x941.png"/>
    </div>
    </main>
  </body>
</html>